@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro:400,200,700')

*
  margin 0
  padding 0
  box-sizing border-box

body
  font-family 'Source Code Pro', monospace

.header
  background url('http://weaveringrally.com/wp-content/uploads/2017/07/13558701_10157074460095032_1665146287543435271_o.jpg')
  background-position center

  .page-title
    font-weight 300
    font-size 100px
    text-align center
    padding-top 400px
    text-transform uppercase
    color #fff

.nav
  background #000
  text-align center

  li
    display inline-block

  a
    display inline-block
    padding 20px
    color #fff
    text-decoration none

    &:hover
      background-color #3AB795
      text-decoration underline

.main-content
  margin 25px auto
  padding 25px
  max-width 90%

  p
    line-height 1.6
    margin-bottom 1.7em

  table
    margin 5px auto
    width 100%
    text-align center

  th, td
    padding .3em

  table, th, td
    font-weight 100
    font-size 1em
    boarder-style solid
    border-collapse collapse
    border 1px solid black

  th.label
    font-weight 400
    background #e0e0e0

  th.time
    text-align right

  ul
    padding-left 1.5em
  


.footer
  margin 0px auto
  max-width 800px
  border-top 1px solid #444
  padding 20px 0
  text-align center

  p
    color #444
    font-size 12px
