<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rally Scores - A website for tracking and comparing scoring for stage rally racing in North America</title>
    <link> rel="stylesheet" href="/css/style">
  </head>
  <body>
    <div id="main"><%- markup -%></div>
    <script src="/js/bundle.js"</script>
  </body>
</html>
