doctype html
html
  head
    link(rel='stylesheet', href='/css/index.css')
    title Rally Scores
    block head_block
    //- Google analytics tracking code
    script.
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-103572302-1', 'auto');
      ga('send', 'pageview');

  body
    .header
      a(href="/", style="text-decoration:none;")
        h1.page-title Rally Scores

    ul.nav
      li: a(href='/') Home
      li: a(href='#news') News
      li: a(href='#about') About
      li: a(href='#contact') Contact
    
    .main-content
      block content

    .footer
      p Copyright © 2017 RallyScores. RallyScores® is a Registered Trademark of Bad Man Software (un)Ltd. in the Earth Community and other solar systems.
      br
      p Blog: 
        a(href="http://weaveringrally.com") weaveringrally.com  
      p Email: 
        a(href="mailto:tyler@weaveringrally?Subject=RallyScores%20Feedback") tyler@weaveringrally
      p If you find this useful and want to say thank you, you can #[a(href="http://www.PayPal.Me/LGSSnacks") buy me a coffe].
