extend default

block content
  p.
    Add scoring data is gathered from Rally America's website and there are 
    no guarantees of accuracy.  Inspiration for this was taken from the 
    #[a(href="http://www.daronhume.com/rally/combine.php5?new_rally=1&rally_id=colo&rally_year=2017") Rally America Combiner Thing].  
    This site caches times in it's own database to provide you fast
    page loads and to reduce the load on RA's site.


  -
    var dataTree = {};
    for (event in data) {
      if (event.year not in dataTree) {
        dataTree[event.year] = [event]
      } else {
        dataTree[event.year].push(event)
      }
    }
  each year,events in dataTree
    h1 #{year}
    each event in events
      h2 #{event.name}

